<div class=" container ">

  <div class=" bg-pokemon linha centro de texto ">

    <div class=" texto-branco font-weight col-sm-12 ">
      <h4> Meu Pokemon Favorito
        <a routerLink=" / login " class=" link de texto branco bóia-direita "> Sair </a>
      </h4>
    </div>
  </div>

  <div class=" contêiner text-center mt-5 ">
    <h4> Ola, John Doe. </h4>
    <Br>
    <P> Este e Seu pokemon favorito Abaixo <br>
      Na cidade de Belzonte faz 25 graus agora. </P>
  </div>

  <div class=" fronteira do contêiner py-5 my-5 ">

    <div class=" text-center ">
      <img src=" https://pokemon.gameinfo.io/images/pokemon-go/131-00.png " class=" arredondado " alt=" ... ">
    </div>
    <h4> Lapras (Larry) </h4>
    <p class=" text-justify "> Os direitos quase levaram lapras a extinçao. Dizem que um tardinha este Pokemon
      canta
      melancolicamente procurando pelos outros que restaram da sua espécie. </p>
  </div>

</div>